.sc-chat-window {
  width: 370px;
  height: calc(100% - 120px);
  max-height: 590px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
  position: relative;
}

.sc-message--me {
  text-align: right;
}

.sc-message--them {
  text-align: left;
}

form.disabled.sc-user-input {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

/* Suggession Style { */

.sc-suggession-wrapper {
  position: relative;
  width: 100%;
}

.sc-suggessions {
  padding: 0.5em;
  box-shadow: 0px -5px 20px #DDD;
  border-radius: 10px 10px 0 0;
}

.sc-suggessions-text {
  background: #FDFDFD;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 20px;
  cursor: pointer;
}

/* Suggession Style } */