.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 300px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
  }
  .msger-send-btn {
    margin-left: 10px;
    color: #a6a8aa;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
 
  .msger-chat {
    background-color: #fcfcfe;
    height: 88.5vh;
 }
  
 
  .chatPreviewDrawer .ant-drawer-body {
    padding: 0 !important;
 }
 
 
 
 .chatpreview-header{
    border-bottom: 5px;
    border-color: gray;
    height: 35px;
    box-shadow: 0 8px 6px #EEEEEE;
    margin-bottom: 2px;
  }
 .botPreviewHeaderText{
    opacity: 0.85;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
 }


 /* Preview CSS */

.msg-vid-img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #DDD;
}
.msg-audio-wrapper{
  min-width: 275px;
}
audio.msg-audio {
  width: 100%;
}

.msg-buttons-list {
  background: white;
  border-radius: 15px;
  width: 255px;
}

.text-icon-wrapper {
  display: flex;
  justify-content: space-around;
}

.msg-txt {
  margin: 5px;
}

.message-list-scrollto {
  width: 100%;
}

.msger-inputarea.disabled {
  opacity: 0.5;
  pointer-events: none;
}